**Setting up simple data frame**

In [59]:
import pandas as pd
import numpy as np

data = {
    "TransactionID": [101, 102, 103, 104, 105, 106],
    "CustomerName": ["Dick Dastardly", "Penelope Pitstop", "Huckleberry Hound",
                     "Fred Flintstone", "velma Dinkley", "Penelope Pitstop"],
    "Product": ["Differential", "Exhaust Pipe", "Carburettor", "Spark Plug", "Brake Pad", "Exhaust Pipe"],
    "Price": [1500, 600, 1200, -20, 40, 600],
    "Quantity": [1, 1, None, 4, 2, None],
    "DateOfService": ["2024-12-01", "2024-12-01", "01-12-2024", None, "2024-12-01", None],
}

df = pd.DataFrame(data)

display(df)

,TransactionID,CustomerName,Product,Price,Quantity,DateOfService
0,101,Dick Dastardly,Differential,1500,1.0,2024-12-01
1,102,Penelope Pitstop,Exhaust Pipe,600,1.0,2024-12-01
2,103,Huckleberry Hound,Carburettor,1200,NaN,01-12-2024
3,104,Fred Flintstone,Spark Plug,-20,4.0,None
4,105,velma Dinkley,Brake Pad,40,2.0,2024-12-01
5,106,Penelope Pitstop,Exhaust Pipe,600,NaN,None

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  6 non-null      int64
 1   CustomerName   6 non-null      object
 2   Product        6 non-null      object
 3   Price          6 non-null      int64
 4   Quantity       4 non-null      float64
 5   DateOfService  4 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 420.0+ bytes

**Handling missing values**

In [62]:
missing_val = df.isnull().sum()
print("Missing values = ", missing_val)

Missing values =  TransactionID    0
CustomerName     0
Product          0
Price            0
Quantity         2
DateOfService    2
dtype: int64

**Handling data types**

In [64]:
print("Data types:", df.dtypes)

Data types: TransactionID      int64
CustomerName      object
Product           object
Price              int64
Quantity         float64
DateOfService     object
dtype: object

**Converting dates to consistent format**

In [66]:
df["DateOfService"] = pd.to_datetime(df["DateOfService"], errors="coerce")
print(df["DateOfService"])

0   2024-12-01
1   2024-12-01
2          NaT
3          NaT
4   2024-12-01
5          NaT
Name: DateOfService, dtype: datetime64[ns]

**Finding Outliers**

In [68]:
outliers = df[df["Price"] < 0]
display("Outliers:", outliers)

'Outliers:'

   TransactionID     CustomerName     Product  Price  Quantity DateOfService
3            104  Fred Flintstone  Spark Plug    -20       4.0           NaT

In [69]:
duplicates = df.duplicated(subset=["CustomerName", "Product"], keep = False)
display("Duplicate records:", duplicates, "Entries:", df[duplicates])

'Duplicate records:'

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

'Entries:'

,TransactionID,CustomerName,Product,Price,Quantity,DateOfService
1,102,Penelope Pitstop,Exhaust Pipe,600,1.0,2024-12-01
5,106,Penelope Pitstop,Exhaust Pipe,600,NaN,NaT

**Standardizing text data in CustomerName column**

In [87]:
df["CustomerName"] = df["CustomerName"].str.strip().str.title()
print(df["CustomerName"])

0       Dick Dastardly
1     Penelope Pitstop
2    Huckleberry Hound
3      Fred Flintstone
4        Velma Dinkley
5     Penelope Pitstop
Name: CustomerName, dtype: object

**Validating sample permitted data range**

In [104]:
invalid_prices = df[~df["Price"].between(0, 1200)]
display("Prices outside permitted range:", invalid_prices)

'Prices outside permitted range:'

   TransactionID     CustomerName       Product  Price  Quantity DateOfService
0            101   Dick Dastardly  Differential   1500       1.0    2024-12-01
3            104  Fred Flintstone    Spark Plug    -20       4.0           NaT

**Counting unique products**

In [107]:
unique_products = df["Product"].value_counts()
display("Unique Products", unique_products)

'Unique Products'

Product
Exhaust Pipe    2
Differential    1
Carburettor     1
Spark Plug      1
Brake Pad       1
Name: count, dtype: int64

**Check inconsistent formatting (example: CustomerName column)**

In [114]:
inconsistent_names = df["CustomerName"].str.contains(r"[A-Z]{2,}", na = False)
print("Names with inconsistent format:", df[inconsistent_names])

Names with inconsistent format: Empty DataFrame
Columns: [TransactionID, CustomerName, Product, Price, Quantity, DateOfService]
Index: []

*No inconsistent names found because they have been reformatted previously*

**Identifying rows with multiple issues**

In [126]:
issues = df.isnull().sum(axis=1) + ((df["Price"] < 0) | (df["Price"] > 1200) + (~df["DateOfService"].notnull()))
problem_rows = df[issues > 1]
print("Rows with multiple issues:", problem_rows)

Rows with multiple issues:    TransactionID       CustomerName       Product  Price  Quantity  \
2            103  Huckleberry Hound   Carburettor   1200       NaN
3            104    Fred Flintstone    Spark Plug    -20       4.0
5            106   Penelope Pitstop  Exhaust Pipe    600       NaN

  DateOfService
2           NaT
3           NaT
5           NaT